@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: black;
    color: white; */
}

.section-title {
  margin-top: 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

h2 {
  text-align: center;
}

/* Navigation Bar */
.nav-bar {
  background-color: #24252a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}

.nav-links ul {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.nav-links li:hover {
  background-color: #555;
}

.menu-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-line {
  width: 100%;
  background-color: white;
  height: 3px;
}

.change #menu-bun-1 {
  transform: translateY(9px) rotate(-45deg);
}

.change #menu-bun-2 {
  transform: translate(50px);
  opacity: 0;
}

.change #menu-bun-3 {
  transform: translateY(-9px) rotate(45deg);
}

@media (max-width: 767px) {
  .menu-btn {
    display: flex;
  }

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: 0.5rem;
  }

  .nav-links.active {
    display: flex;
  }
}
/* About Us */
.about-us-section {
  padding: 0;
  background-color: lavender;
  color: #333;
  height: 50vh;
}

.about-us-image {
  width: 200px;
  float: left;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin: 15px;
  border-radius: 50%;
}

.about-us-content {
  max-width: 900px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-content: center;
}

/* Social Media Inline Frame */
.insta-window {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 480px) {
  .insta-window.instagram-media.instagram-media {
    display: none;
  }
}

/* FAQs Accordion*/
.contact-us-section {
  background-color: lavender;
  color: #333;
  height: 150vh;
}

.accordion {
  width: 90%;
  color: white;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #24252a;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-question {
  padding: 0.5rem 3rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-question::after {
  content: "\25BE";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-question.active::after {
  transform: rotate(180deg);
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-answer-content {
  padding: 0.5rem 3rem;
  line-height: 1.25rem;
  border-top: 1px solid lavender;
}

.accordion-question.active + .accordion-answer {
  max-height: 300px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/* Footer Stuffs */
.footer {
  height: 200px;
}
